<%@ Master Language="VB" CodeFile="MasterPageWide2.master.vb" Inherits="MasterPageWide2" MasterPageFile="~/MasterPageBase2.master" %>

<asp:Content ID="contentMain" ContentPlaceHolderID="ContentPanelMain" Runat="Server">
	<asp:ContentPlaceHolder ID="ContentPanelCentral" runat="server"></asp:ContentPlaceHolder>
</asp:Content>